.alert-box {
	position: fixed;
	right: 5vw;
	bottom: 5vh;
	width: 25vw;
	display: flex;
	flex-direction: column;
	z-index: 999999;

	.ab {
		width: 100%;
		margin-top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		&.hide {
			opacity: 0;
			transition: 0.4s ease;
		}

		&_inner {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 4rem;
			display: flex;
			align-items: center;
			padding: 10px;
			padding-left: 60px;
			overflow: hidden;
			border-radius: 5px;
			background: white;
			box-shadow: 0px 0px 5px 0px $bgPrimary;

			&--msg {
				margin-bottom: 0;
				font-weight: 400;
				font-size: 0.9rem;
				max-width: 95%;
				color: #555;
			}

			&--close {
				position: absolute;
				top: 0;
				right: 0;
				padding: 5px 10px 5px 10px;
				color: rgba(0, 0, 0, 0.5);
				font-size: 16px;

				&:hover {
					color: black;
				}
			}

			&--sign {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 35px;
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;

				&.success {
					background: $green;

					&::after {
						border-left: solid 9px $green;
					}
				}

				&.error {
					background: #930011;

					&::after {
						border-left: solid 9px #930011;
					}
				}

				&.warning {
					background: #ea6c16;

					&::after {
						border-left: solid 9px #ea6c16;
					}
				}

				.ab_svg {
					width: 20px;
					height: 20px;
					fill: white;
				}

				&::after {
					content: '';
					position: absolute;
					left: 98%;
					top: calc((100% - 18px) / 2);
					display: inline-block;
					vertical-align: middle;
					width: 9px;
					height: 18px;
					border-bottom: solid 9px transparent;
					border-top: solid 9px transparent;
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.alert-box {
		width: 50vw;
	}
}

@media screen and (max-width: 500px) {
	.alert-box {
		width: 90vw;
	}
}

// PHP alerts (deprecated but still used in some pages)

.alert {
	// success
	&-success {
		background: #a5d6a7 !important;
		position: relative;
		max-width: 75vw;
		width: 100%;
		box-shadow: 0 0 5px 1px $bgSecondary;

		&_msg,
		.alert-x {
			font-size: 1rem;
			color: #424242;
		}
	}

	// danger
	&-danger {
		border: 1px solid #ffcdd2 !important;
		background: #ffcdd2 !important;

		ul {
			margin-bottom: 0;
			padding-left: 0;

			li {
				list-style: none;
				color: #424242;
				font-size: 1rem;
			}
		}

		.alert-x {
			color: #424242;
		}
	}

	// x
	.alert-x {
		position: absolute;
		right: 5px;
		top: 0;
		font-size: 22px;
		cursor: pointer;

		&:hover {
			color: $bgPrimary;
		}
	}
}
